body, html {
  text-align: center;
  font-size: 1em;
  background: lightblue;
}

section {
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 2em;
  color: #7b7d70;
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  color: #4eafb8;
}

p {
  color: #ff8641;
  font-family: 'Blinker', sans-serif;
  font-size: .75em;
}

/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) {
  body {
    background: red;
  }
    h1 {
    color: #02cbd2;
    font-family: 'Montserrat', sans-serif;
    }
    h2 {
    color: #fcc02a;
    font-family: 'Blinker', sans-serif;
    }
    p {
    color: #7b8f8e;
    font-family: 'Nunito', sans-serif;
    }
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px) {
    body {
    background: green;
  }
    h1 {
    color: #6e4b61;
    font-family: 'Blinker', sans-serif;
    }


    h2 {
    color: #cabd61;
    font-family: 'Nunito', sans-serif;
    }
     p {
    color: #c19e74;
    font-family: 'Montserrat', sans-serif;
    }
}


